@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 205 100% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 205 100% 78%;
    --secondary-foreground: 0 0% 9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 55%;
    --accent: 205 29% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 90%;
    --input: 210 40% 92%;
    --ring: 205 100% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 205 29% 15%;
    --foreground: 210 40% 98%;
    --card: 205 29% 20%;
    --card-foreground: 210 40% 98%;
    --popover: 205 29% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 205 100% 67%;
    --primary-foreground: 0 0% 10%;
    --secondary: 205 100% 78%;
    --secondary-foreground: 0 0% 10%;
    --muted: 205 29% 25%;
    --muted-foreground: 215.4 16.3% 65%;
    --accent: 205 29% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 205 29% 30%;
    --input: 205 29% 25%;
    --ring: 205 100% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
